---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_153v5lEanUtDmyIAhF7bNB27&email=test%40example.com&plan=basic
    headers:
      Authorization:
      - Bearer sk_test_3IFQAiSYqUkIGhMGu475L3Lt
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1417205510,
          "id": "cus_5ENrm7PkrSYcEF",
          "livemode": false,
          "description": null,
          "email": "test@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5ENrm7PkrSYcEF/subscriptions",
            "data": [
              {
                "id": "sub_5ENr16qVSFOXIP",
                "plan": {
                  "interval": "month",
                  "name": "Basic",
                  "created": 1417110224,
                  "amount": 999,
                  "currency": "usd",
                  "id": "basic",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "Basic Myflix"
                },
                "object": "subscription",
                "start": 1417205510,
                "status": "active",
                "customer": "cus_5ENrm7PkrSYcEF",
                "cancel_at_period_end": false,
                "current_period_start": 1417205510,
                "current_period_end": 1419797510,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5ENrm7PkrSYcEF/cards",
            "data": [
              {
                "id": "card_153v5lEanUtDmyIAHxKjQ10k",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2015,
                "fingerprint": "IDIL0AA2hjQ2FK2e",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5ENrm7PkrSYcEF"
              }
            ]
          },
          "default_card": "card_153v5lEanUtDmyIAHxKjQ10k"
        }
  recorded_at: Fri, 28 Nov 2014 20:11:50 GMT
recorded_with: VCR 2.9.3
