---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_153v5jEanUtDmyIASFhbEoTM&email=test%40example.com&plan=basic
    headers:
      Authorization:
      - Bearer sk_test_3IFQAiSYqUkIGhMGu475L3Lt
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Fri, 28 Nov 2014 20:11:47 GMT
recorded_with: VCR 2.9.3
