---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: card=tok_14whGJEanUtDmyIAsplZf8dN&amount=999&currency=usd&description=MyFlix%20payment%20for%20test%40example.com
    headers:
      Authorization:
      - Bearer sk_test_3IFQAiSYqUkIGhMGu475L3Lt
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14whGKEanUtDmyIAt4DThyBb"
          }
        }
  recorded_at: Sat, 08 Nov 2014 22:00:52 GMT
recorded_with: VCR 2.9.3
