---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_153yKmEanUtDmyIAjUe8enTa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3IFQAiSYqUkIGhMGu475L3Lt
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_153yKmEanUtDmyIAjUe8enTa",
          "created": 1417217972,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_153yKmEanUtDmyIArhA9qGKU",
              "object": "charge",
              "created": 1417217972,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "captured": false,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_153yKmEanUtDmyIArhA9qGKU/refunds",
                "data": []
              },
              "card": {
                "id": "card_153yJUEanUtDmyIAJZ8YN77a",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2015,
                "fingerprint": "EmzWS59NgmOhIwn8",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5EQ4eraGefxegG"
              },
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_5EQ4eraGefxegG",
              "invoice": null,
              "description": "test fail",
              "dispute": null,
              "metadata": {},
              "statement_description": "test fail",
              "fraud_details": {
                "stripe_report": "unavailable",
                "user_report": null
              },
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_5ERDRTW1FtXEIh",
          "api_version": "2014-10-07"
        }
  recorded_at: Fri, 28 Nov 2014 23:57:39 GMT
recorded_with: VCR 2.9.3
