---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2015&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_3IFQAiSYqUkIGhMGu475L3Lt
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14rIQSEanUtDmyIAn4S8Pn6a",
          "livemode": false,
          "created": 1414196940,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14rIQSEanUtDmyIANI08D24a",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2015,
            "fingerprint": "IDIL0AA2hjQ2FK2e",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Sat, 25 Oct 2014 00:29:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: card=tok_14rIQSEanUtDmyIAn4S8Pn6a&amount=999&currency=usd&description=a%20valid%20charge
    headers:
      Authorization:
      - Bearer sk_test_3IFQAiSYqUkIGhMGu475L3Lt
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14rIQTEanUtDmyIArQhVg1CN",
          "object": "charge",
          "created": 1414196941,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14rIQSEanUtDmyIANI08D24a",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2015,
            "fingerprint": "IDIL0AA2hjQ2FK2e",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14rIQTEanUtDmyIArQhVg1CN/refunds",
            "data": []
          },
          "balance_transaction": "txn_14rIQTEanUtDmyIA9Q25l89F",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "a valid charge",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null
        }
  recorded_at: Sat, 25 Oct 2014 00:29:01 GMT
recorded_with: VCR 2.9.3
