---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2015&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_3IFQAiSYqUkIGhMGu475L3Lt
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14rZaKEanUtDmyIAEDuhJC9b",
          "livemode": false,
          "created": 1414262900,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14rZaKEanUtDmyIAfZG3VpAB",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2015,
            "fingerprint": "tfchbAFW6jCjI1cv",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Sat, 25 Oct 2014 18:48:20 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: card=tok_14rZaKEanUtDmyIAEDuhJC9b&amount=999&currency=usd&description=an%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_3IFQAiSYqUkIGhMGu475L3Lt
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14rZaKEanUtDmyIAx3TAdstB"
          }
        }
  recorded_at: Sat, 25 Oct 2014 18:48:20 GMT
recorded_with: VCR 2.9.3
