---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_153vdIEanUtDmyIA5qsYCawx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_3IFQAiSYqUkIGhMGu475L3Lt
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_153vdIEanUtDmyIA5qsYCawx",
          "created": 1417207588,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_153vdIEanUtDmyIAj5g2HavP",
              "object": "charge",
              "created": 1417207588,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "captured": true,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_153vdIEanUtDmyIAj5g2HavP/refunds",
                "data": []
              },
              "card": {
                "id": "card_153vdGEanUtDmyIAzU3g3vk0",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2014,
                "fingerprint": "IDIL0AA2hjQ2FK2e",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5EOQXcrSo4lxKk"
              },
              "balance_transaction": "txn_153vdIEanUtDmyIAe9DK7uFa",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_5EOQXcrSo4lxKk",
              "invoice": "in_153vdIEanUtDmyIA1mYtwU8Y",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": "Basic Myflix",
              "fraud_details": {
                "stripe_report": "unavailable",
                "user_report": null
              },
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_5EOQqXO1A3aAYI",
          "api_version": "2014-10-07"
        }
  recorded_at: Fri, 28 Nov 2014 22:07:41 GMT
recorded_with: VCR 2.9.3
