!!! 5
%html(lang="en-US")
  %head
    %title MyFLiX - a video on demand service
  %body
    %p
      Please click the link to reset your password:
      = link_to "Reset Password", reset_password_url(@user.token)
